# If Else Statement

In [1]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [2]:
number = 10

# check if number is greater than 0
if number > 0:
    print('Number is positive.')

print('The if statement is easy')

Number is positive.
The if statement is easy

In [3]:
number = -5

# check if number is greater than 0
if number > 0:
    print('Number is positive.')

print('The if statement is easy')

The if statement is easy

In [4]:
number = 10

if number > 0:
    print('Positive number')

else:
    print('Negative number')

print('This statement is always executed')

Positive number
This statement is always executed

In [5]:
#elif statement
number = 0

if number > 0:
    print("Positive number")

elif number == 0:
    print('Zero')
else:
    print('Negative number')

print('This statement is always executed')

Zero
This statement is always executed

In [6]:
#nested if else
number = 5

# outer if statement
if (number >= 0):
    # inner if statement
    if number == 0:
      print('Number is 0')
    
    # inner else statement
    else:
        print('Number is positive')

# outer else statement
else:
    print('Number is negative')

print("Nested if else")

# Output: Number is positive

Number is positive
Nested if else

# For Loop

In [7]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [40]:
heisenberg_quote = "It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in. I am not in danger, Skyler. I am the danger."

In [41]:
words_by_walter = heisenberg_quote.split(' ')

In [42]:
words_by_walter

['It',
 'ceases',
 'to',
 'exist',
 'without',
 'me.',
 'No,',
 'you',
 'clearly',
 "don't",
 'know',
 'who',
 "you're",
 'talking',
 'to,',
 'so',
 'let',
 'me',
 'clue',
 'you',
 'in.',
 'I',
 'am',
 'not',
 'in',
 'danger,',
 'Skyler.',
 'I',
 'am',
 'the',
 'danger.']

In [44]:
for i in words_by_walter:
    print("The word is ",i)

The word is  It
The word is  ceases
The word is  to
The word is  exist
The word is  without
The word is  me.
The word is  No,
The word is  you
The word is  clearly
The word is  don't
The word is  know
The word is  who
The word is  you're
The word is  talking
The word is  to,
The word is  so
The word is  let
The word is  me
The word is  clue
The word is  you
The word is  in.
The word is  I
The word is  am
The word is  not
The word is  in
The word is  danger,
The word is  Skyler.
The word is  I
The word is  am
The word is  the
The word is  danger.

In [8]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [9]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [38]:
for number in range(0,10,2):
  squared_number = number**2
  print(f"The square of {number} is {squared_number}")

The square of 0 is 0
The square of 2 is 4
The square of 4 is 16
The square of 6 is 36
The square of 8 is 64

In [11]:
x=["apple","banana","cherry","mango"]
for i in x:
    print(i)

apple
banana
cherry
mango

In [20]:
x=("apple","banana","cherry","mango")
for i in x:
    print(i)

apple
banana
cherry
mango

In [39]:
days = ('Monday' ,'Tuesday' ,'Wednesday' ,'Thursday' ,'Friday','Saturday','Sunday')

for day in days:
  print(f"Today is {day}")

Today is Monday
Today is Tuesday
Today is Wednesday
Today is Thursday
Today is Friday
Today is Saturday
Today is Sunday

In [21]:
x={"apple","banana","cherry","mango"}
for i in x:
    print(i)

apple
banana
mango
cherry

In [22]:
colour = {"Black": 0, 
          "Purple": 2, 
          "Brown": 4, 
          "Yellow": 9, 
          "Blue": 1}
for key in (colour.keys()):
    print(key)

Black
Purple
Brown
Yellow
Blue

In [23]:
colour = {"Black": 0, 
          "Purple": 2, 
          "Brown": 4, 
          "Yellow": 9, 
          "Blue": 1}
for key in (colour.values()):
    print(key)

0
2
4
9
1

In [24]:
colour = {"Black": 0, 
          "Purple": 2, 
          "Brown": 4, 
          "Yellow": 9, 
          "Blue": 1}
for items in (colour.items()):
    print(items)

('Black', 0)
('Purple', 2)
('Brown', 4)
('Yellow', 9)
('Blue', 1)

In [25]:
colour = {"Black": 0, 
          "Purple": 2, 
          "Brown": 4, 
          "Yellow": 9, 
          "Blue": 1}
for ind, key in enumerate(colour.keys()):
    print(ind, key)

0 Black
1 Purple
2 Brown
3 Yellow
4 Blue

In [26]:
colour = {"Black": 0, 
          "Purple": 2, 
          "Brown": 4, 
          "Yellow": 9, 
          "Blue": 1}
for ind, value in enumerate(colour.values()):
    print(ind, value)

0 0
1 2
2 4
3 9
4 1

In [27]:
colour = {"Black": 0, 
          "Purple": 2, 
          "Brown": 4, 
          "Yellow": 9, 
          "Blue": 1}
for ind, (keys, value) in enumerate(colour.items()):
    print(ind, keys, value)

0 Black 0
1 Purple 2
2 Brown 4
3 Yellow 9
4 Blue 1

In [12]:
x=["apple","banana","cherry","mango"]
for i in x:
    print(i.upper())

APPLE
BANANA
CHERRY
MANGO

In [13]:
#break statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [14]:
#break statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [15]:
#continue statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [50]:
got_houses = ['Stark', 'Arryn', 'Baratheon', 'Tully', 'Greyjoy', 'Lannister', 'Tyrell', 'Martell', 'Targaryen']

In [51]:
for i ,j in enumerate(got_houses):
    print("The endex of house",j,"is",i)

The endex of house Stark is 0
The endex of house Arryn is 1
The endex of house Baratheon is 2
The endex of house Tully is 3
The endex of house Greyjoy is 4
The endex of house Lannister is 5
The endex of house Tyrell is 6
The endex of house Martell is 7
The endex of house Targaryen is 8

In [52]:
# The list of numbers
list_of_numbers = [1, 2, 4, 6, 11, 14, 17, 20]

squared_numbers = []

for number in list_of_numbers:
  # Use the append method to add the numbers one by one to our list
  squared_numbers.append(number**2)
  # print(squared_numbers)

print(f"The list of squared numbers is {squared_numbers}")

The list of squared numbers is [1, 4, 16, 36, 121, 196, 289, 400]

In [55]:
list(zip(list_of_numbers,squared_numbers))

[(1, 1), (2, 4), (4, 16), (6, 36), (11, 121), (14, 196), (17, 289), (20, 400)]

In [56]:
dict(zip(list_of_numbers,squared_numbers))

{1: 1, 2: 4, 4: 16, 6: 36, 11: 121, 14: 196, 17: 289, 20: 400}

In [46]:
#program to filter odd numbers
list_of_numbers=[1,2,4,6,11,14,17,20]
even_numbers = []
for i in list_of_numbers:
    if i%2==0:
        even_numbers.append(i)
print("the odd numbers are",even_numbers)

the odd numbers are [2, 4, 6, 14, 20]

In [ ]:
#write a program to filter odd numbers from the given list
list_of_numbers=[1,3,4,6,11,14,17,20,31]

In [48]:
#write a program to square the even no. and cube of odd numbers
#program to filter odd numbers
list_of_numbers=[1,2,4,6,11,14,17,20]
numbers = []
for i in list_of_numbers:
    if i%2==0:
        numbers.append(i**2)
    else:
        numbers.append(i**3)
        
print("the odd numbers are",numbers)

the odd numbers are [1, 4, 16, 36, 1331, 196, 4913, 400]

In [16]:
#nested for loop
x = [1, 2]
y = [4, 5]
  
for i in x:
  for j in y:
    print(i, j)

1 4
1 5
2 4
2 5

In [19]:
for i in range(2,3):
  
    # Printing inside the outer loop
    # Running inner loop from 1 to 10
    for j in range(1, 11):
  
        # Printing inside the inner loop
        print(i, "*", j, "=", i*j)
    # Printing inside the outer loop
    print()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

# While Loop

In [28]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [29]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
age = 32

# the test condition is always True
while age > 18:
    print('You can vote')

In [30]:
#break
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [31]:
#continue
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6